.section__cards__title {
    color: var(--orange);
    background-color: var(--constrat-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination {
    position: initial;
    margin: 0.5em 0;
}

.card__main {
    background: var(--constrat-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 0.65em;
}

.card__main__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.card__main__grid {
    width: 70%;
}

.card__main__title {
    color: var(--orange);
    font-weight: 700;
    font-size: 1rem;
}

.card__main__name {
    color: var(--blue);
    font-weight: 700;
    font-size: 1.125rem;
    margin: 0.5em 0;
}

.card__main__resume {
    font-size: 0.875rem;
    width: 90%;
    margin: 0 0 0.3em 0;
}

.card__main__buttons {
    display: flex;
    justify-content: space-between;
}

.card__main__buttons__list {
    display: flex;
    margin: 0 1em;
}

.card__buttons__main {
    background-color: var(--orange);
    color: var(--constrat-color);
    font-weight: 700;
    padding: 1em;
    width: 38%;
    text-align: center;
}

.card__main__star__list {
    display: flex;
}

.card__main__star {
    margin: 0 0.25em 0 0;
}

@media screen and (min-width: 1024px) {

    .section__cards {
        padding: 1em 0 1.5em 0;
    }

    .section__cards__title {
        font-size: 1.625rem;
    }

    .swiper-pagination {
        margin: 1em 0 2em 0;
    }

    .swiper {
        width: 60%;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
    
    .card__main {
        width: 50%;
        margin: 0 auto;
    }

    .swiper-wrapper {
        gap: 30px;
        margin: 1em 0;
    }

    .card__buttons__main {
        width: 26%;
        margin-top: 1em;
    }

}