hr {
  margin: 0;
}

.footer {
  background: var(--constrat-color);
}

.footer__title {
  font-size: 1rem;
  padding: 1em;
  font-weight: 400;
}

.footer__list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
  }

  .footer__title {
    font-size: 1.5rem;
    padding: 0;
  }

  .footer__list {
    display: block;
  }

  .footer__list__title {
    color: #858585;
    font-size: 0.875rem;
    padding-top: 0.75em;
  }

  .footer__list__item {
    margin-top: 0.65em;
    display: flex;
    align-items: center;
    gap: 0.35em;
  }

  .footer__list__item > a {
    color: #474646;
    text-decoration: none;
  }
}

@media screen and (min-width: 1728px) {
  .footer__list {
    border-left: 1px solid #858585;
    padding: 0 2em;
  }
}
