@import url(header.css);
@import url(banner.css);

:root {
    --background-color: #EBECEE;
    --constrat-color: #FFFFFF;
    --orange: #EB9B00;
    --blue-gradient: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --font: 'Poppins';
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
}