@import url(header.css);
@import url(banner.css);
@import url(cards.css);
@import url(topics.css);
@import url(contact.css);
@import url(footer.css);

:root {
    --background-color: #EBECEE;
    --constrat-color: #FFFFFF;
    --orange: #EB9B00;
    --blue: #002F52;
    --black: #000000;
    --blue-gradient: linear-gradient(98deg, #002F52 35.49%, #326589 165.37%);
    --font: 'Poppins';
    --font-secondary: 'Josefin Sans'
}

body {
    background-color: var(--background-color);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
}